# Build folders/build//bin//debug//release/# CMakeCMakeFiles/CMakeCache.txtcmake_install.cmakeMakefile# Qt Creator specific*.autosave*.user*.user.**.pro.user*.qmlproject.user*.qmake.stash# VS Code (ako koristiš).vscode/# OS files.DS_StoreThumbs.db